.container{
    position: relative;
    margin: 50px auto;
    overflow: auto;
    width: 25%;
    min-height: 250px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px #00000047;
    border-radius: 10px;
    padding: 40px 25px 40px 25px;
    @media screen and (max-width: 1200px) {
        width: 40%
    }
    @media screen and (max-width: 600px){
        margin: 0 0;
        overflow: auto;
        width: 85%;
        margin: auto;
     }
}

.form {
    display: flex;
    margin-bottom: 25px;
    & > :first-child{
        margin-right: 6px;
    }
}
